.env
.env.*
!.env.example
node_modules/
.DS_Store
tmp/
.tmp/
*.log
*.pid
data/metro/images/
data/metro/mtr-images/
data/metro/bjmoa-images/
data/metro/pages/
data/metro/mtr-pages/
data/metro/vision-inputs/
data/metro/vision-inputs-resized/
data/metro/vision-crops/
data/metro/structuring-batches/
data/metro/line-vision-batches/
data/metro/external-line-vision-batches/
